<div class="contenedor__todo">
    <div class="caja__trasera">
        <div class="caja__trasera-login">
            <h3>¿Ya tienes una cuenta?</h3>
            <p>Inicia sesión para entrar en la página</p>
            <button id="btn__iniciar-sesion">Iniciar Sesión</button>
        </div>
        <div class="caja__trasera-register">
            <h3>¿Olvido su contraseña?</h3>
            <p>solicite una nueva contraseña</p>
            <button id="btn__registrarse">Recuerdame</button>
        </div>
    </div>

    <!--Formulario de Login y Reset-->
    <div class="contenedor__login-register">
        <!--Login-->
        <form class="formulario__login">
            <h2>Iniciar Sesión Login</h2>
            <input type="text" placeholder="Correo Electronico">
            <input type="password" placeholder="Contraseña">
            <button ng-click="formularioIniciar()" type="submit">Entrar</button>
        </form>

        <!--Register-->
        <form ng-click="printScope()" class="formulario__register">
            <h2>Solicitud contraseña</h2>
            <input type="text" ng-model="nombre" placeholder="Nombre completo">
            <input type="text" ng-model="correo"placeholder="Correo Electronico">
            <button ng-click="formularioSolicitud()" type="submit">Recuerdame</button>
        </form>
    </div>
</div>